.experiment-simpletextinputform 
{
  background-color: white; 
  height:15px; 
  width:120px; 
  border: 1px solid #666666; 
  font-size:10px
}

.experiment-longtextinputform 
{
  background-color: white; 
  height:15px; width:140px; 
  border: 1px solid #666666; 
  font-size:10px
 }

.experiment-simpletextareainputform 
{
  background-color: white; 
  border: 1px solid #666666; 
  font-size:10px
}

.experiment-simpledropdowninputform 
{
  background-color: white; 
  border: 1px solid #666666; 
  font-size:10px
}

.experiment-simplebuttoninputform
{
   color:#000000;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:10px;
   width:100px;
   height:20px;
   background-color:white;
   border: 1px solid #666666;
}

.experiment-longbuttoninputform
{
   color:#000000;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:10px;
   width:120px;
   height:20px;
   background-color:white;
   border: 1px solid #666666;
}

.experiment-boldbuttoninputform
{
   color:#000000;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:10px;
   width:100px;
   height:20px;
   font-weight:bold;
   background-color:white;
   border: 1px solid #666666;
}

.experiment-newnodedivpanel
{
  position: absolute;
  font-family: verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  top: 50px;
  left: 10px;
  width: 200px;
  border: 1px solid #666666;
  background-color: #ccc;
  padding: 5px;
}

.experiment-experimentinfodivpanel
{
  position: absolute;
  font-family: verdana, sans-serif; 
  font-size: 10px; 
  font-weight: bold; 
  top: 590px; 
  left: 240px; 
  height: 180px;
  border: 1px solid #666666;
  background-color: #ccc; 
  padding: 5px;
}

.experiment-experimentwritedivpanel
{
  position: absolute; 
  font-family: verdana, sans-serif; 
  font-size: 10px; 
  font-weight: bold; 
  top: 590px; 
  left: 590px;
  height: 180px;
  width:  140px;
  border: 1px solid #666666;
  background-color: #ccc; 
  padding: 5px;
}

.experiment-experimenthistorydivpanel
{
  position: absolute; 
  font-family: verdana, sans-serif; 
  font-size: 10px; 
  font-weight: bold; 
  top: 800px; 
  left: 240px; 
  width:  500px;
  border: 1px solid #666666;
  background-color: #ccc; 
  padding: 0px;
}

.experiment-nodeinfodivpanel
{
  position: absolute; 
  font-family: verdana, sans-serif; 
  font-size: 10px; 
  font-weight: bold; 
  top: 50px; 
  left: 760px; 
  width: 200px; 
  border: 1px solid #666666;
  background-color: #ccc; 
  padding: 5px; 
  visibility: visible;;
}

.experiment-boldlabel
{
  font-size: 10px;
  font-weight: bold;
}

.experiment-tabletitlelabel
{
  font-family:'trebuchet ms',helvetica,sans-serif;
  font-size: 14px;
  font-weight: bolder
}

.experiment-historytable
{
  border-width: 1px;
  border-spacing: 0px;
  border-style: none;
  border-color: gray;
  border-collapse: collapse;
  background-color: white;
}

.experiment-row
{
  border-width: 0px;
  padding: 0px;
  border-style: inset;
  border-color: gray;
}

.experiment-cell
{
  border-width: 1px;
  padding: 0px;
  border-style: inset;
  border-color: gray;
}

.experiment-normallabel
{
  font-family:'trebuchet ms',helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
}

.experiment-powerscrollarea 
{
  overflow: auto;
  border: 0px;
  background-color: white;
  padding: 5px;
}

.experiment-powertable
{
  border-width: 1px;
  border-spacing: 0px;
  border-style: none;
  border-color: gray;
  border-collapse: collapse;
  background-color: white;
}

.experiment-powercontrolstable
{
  border-width: 0px;
  border-spacing: 0px;
  border-style: none;
  background-color: white;
}

.experiment-powerrow
{
  border-width: 0px;
  padding: 0px;
  border-style: inset;
  border-color: gray;
}

.experiment-powercell
{
  border-width: 1px;
  padding: 0px;
  border-style: inset;
  border-color: gray;
}

div.experimentTabArea
{
  position: absolute; 
  font-family: verdana, sans-serif;
  top: 50px;
  left: 240px;
  height: 20px;
  width: 490px;
  margin: 0;
  padding-left: 10px;
  background: url(../../images/tab_bottom.gif) repeat-x bottom;
}

div.experimentTab
{
    font-family: verdana, sans-serif;
    float: left;
    color: #666666;
    background-color: #f3f3f3;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #cccccc;
    text-decoration: none;
    height: 14px;
}

div.experimentTab:visited
{
    color: #808080;
}

div.experimentTab.activeTab, div.experimentTab.activeTab:visited
{
    font-family: verdana, sans-serif;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
}


.experiment-controlpaneldiv
{
  position: absolute;
  font-family: verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #666666;
  background-color: #ccc;
  padding: 0px;
}

.experiment-floatinginput
{
  position:absolute;
  z-index:2;
  padding:5px;
  border:#000000 1px solid;
  background-color:#ccc;
}

.experiment-layouttable
{
  border-width: 0px;
  background-color: #ccc;
}

.experiment-layoutcell
{
  border-width: 0px;
  background-color: #ccc;
}

.experiment-row
{
  border-width: 0px;
  padding: 0px;
  border-style: inset;
  border-color: gray;
}

.experiment-legenddiv
{
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  padding: 0px;
}
