.config-simplebuttoninputform
{
   color:#000000;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:10px;
   width:100px;
   height:20px;
   background-color:white;
   border: 1px solid #666666;
}

.config-boldlabel
{
  font-size: 10px;
  font-weight: bold;
}

.config-normallabel
{
  font-family:'trebuchet ms',helvetica,sans-serif;
  font-size: 10px;
  font-weight: normal;
}

.config-displaypaneldiv
{
  position: absolute;
  font-family: verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #666666;
  background-color: white;
  padding: 0px;
}

.config-simpletextareainputform
{
  background-color: white;
  border: 1px solid #666666;
  font-size:10px
}
